@charset "utf-8";
/* CSS Document */

header{width:100%;height:32px;background:#f5f5f5;}
#a1{width:959px;height:32px;margin:0 auto;position:relative;}
#a1 span{height:32px;color:#CCC;margin-left:50px;font-size:16px;float:left;}
#a1 span .iconfont{font-size:24px;display:inline-block;height:32px;width:30px;line-height:38px;}
#a1 .a3 a{font-size:14px;margin-top:7px;float:left;margin-left:10px;}
.a2{float:left;margin-left:270px;}
.a2 li{display:inline-block;height:32px;line-height:32px;}
.a2 li a{padding-right:5px;margin-left:5px;border-right:1px solid #000;height:}
.a2 li:nth-child(4) a{border:0;}
#a1 input{float:left;margin-top:6px;height:20px;margin-left:10px;}
#a1 img{position: absolute;top:9px;left:930px;}


/*===========main===============*/
main{width:100%;height:72px;background:#fff;font-size:18px;}
#logolan{width:959px;height:72px;margin:0 auto;}
.logo{display:block;margin-left:400px;padding-top:24px;float:left;}
.dengzhu{float:left;line-height:92px;margin-left:100px;}
.gouwulan{float:right;line-height:90px;}
.gouwulan  .iconfont{font-size:28px;}


/*===========登录注册===============*/
.dengluzhuce{width:912px;height:517px;background:#fff;padding:20px 10px 20px 10px;position:absolute;top:150px;left:300px;z-index:33;box-shadow:0px 0px 5px #000;display:none;}
.dengluzhuce legend{text-align:center;}
.mingcheng{display:block;width:150px;height:36px;border-bottom:1px solid #000;text-align:center;margin:0 auto;font-size:20px;margin-top:20px;margin-bottom:30px;}
.youjian{border:1px solid #ccc;width:250px;height:25px;margin-top:10px;margin-bottom:10px;}
.dianhua{border:1px solid #ccc;height:25px;margin-top:10px;margin-bottom:10px;}
.fasong{border:1px solid #ccc;height:25px;margin-left:10px;margin-top:10px;margin-bottom:10px;}
.yanzheng{border:1px solid #ccc;margin-top:10px;margin-bottom:10px;height:25px;}
.dengluzhuce li:nth-child(1){width:200px;line-height:40px;font-size:22px;text-align:center;border-bottom:1px solid #ccc;margin:0 auto;}
.dengluzhuce ul{width:30%;float:left;margin-left:10px;margin-right:10px;}
.dengluzhuce li:nth-child(5){line-height:40px;font-size:14px;text-align:center;border-top:1px solid #ccc;margin:0 auto;margin-top:20px;}
.dengluzhuce li:nth-child(6){width:100px;height:35px;margin:0 auto;}
.xiaye{width:100px;height:35px;border:1px solid #ccc;border-radius:2px;}
.dengluzhuce li:nth-child(4) a{margin-left:155px;}
.gg1{display:inline-block;width:25%;height:300px;border:1px solid #b28200;text-align:center;padding:40px 15px 40px 15px;color:#b28200;margin-left:37px;}
.gg1 p{line-height:30px;}

#zhezc{display:block;width:100%;height:3294px; background:rgba(000,000,000,.5);position:absolute;top:0;left:0;z-index:31;display:none;}

/*===========nav===============*/
nav{width:100%;height:44px;background:#fff;}
#caidan{width:959px;height:20px;margin:0 auto;}
.caidan_yiji{padding-top:24px;margin-left:220px;}
.caidan_yiji li{display:inline-block;}
.caidan_yiji li a{padding-right:10px;padding-left:10px;border-right:1px solid #CCC;}
.caidan_yiji li:nth-child(9) a{border:0;}


.caidan_yiji li:nth-child(1){position:relative;}
.caidan_yiji li:nth-child(2){position:relative;}
.caidan_yiji li:nth-child(3){position:relative;}
.caidan_yiji li:nth-child(4){position:relative;}
.caidan_erdiv{width:959px;height:400px;border:1px solid #000;position: absolute;left:-220px; background:#fff;display:none;}
.caidan_erdiv ul li{width:20%;height:100%;float:left;border:0;font-size:14px;}
.caidan_erdiv ul li:last-child a{border:0;}
.caidan_erdiv ul li a{border-left:1px solid #CCC;border-right:0;}
.caidan_erdiv ul li:nth-child(1) a{border:0;}
.caidan_erdiv ul li p{margin-top:6px;font-size:12px;}
.caidan_erdiv ul li p a{color:#999;border:0;}
.caidan_erdiv ul li p a:hover{color:#000;}
.caidan_erdiv ul li p:last-child{margin-top:16px;color:#000;}
.caidan_erdiv ul li p:last-child a{color:#000;}
.lastimg{width:100%;height:250px;background:#ccc;margin-top:40px;padding-top:5px;}
.lastimg img{width:170px;height:130px;margin:0 auto;}
.waiborder{display:block;width:95%;border:1px solid #999;height:240px;margin:0 auto;}
.caidan_yiji li:nth-child(1):hover .caidan_erdiv{display:block;z-index:22;}
.caidan_yiji li:nth-child(2):hover .caidan_erdiv{display:block;z-index:22;}
.caidan_yiji li:nth-child(3):hover .caidan_erdiv{display:block;z-index:22;}
.caidan_yiji li:nth-child(4):hover .caidan_erdiv{display:block;z-index:22;}
.caidan_yiji li:nth-child(2) .caidan_erdiv{psoition:absolute;left:-268.5px;}
.caidan_yiji li:nth-child(3) .caidan_erdiv{psoition:absolute;left:-317px;}
.caidan_yiji li:nth-child(4) .caidan_erdiv{psoition:absolute;left:-365.5px;}

.caidan_yiji li:nth-child(3) .caidan_erdiv ul li:nth-child(4) a{border:0;}
.caidan_yiji li:nth-child(4) .caidan_erdiv ul li:nth-child(4) a{border:0;}
.caidan_yiji li:nth-child(4) .caidan_erdiv ul li:nth-child(3) a{border:0;}
.caidan_yiji li:nth-child(4) .caidan_erdiv ul li:nth-child(2) a{border:0;}


section{width:100%;border-top:1px solid #ccc;position: relative;}
.tb{border-top:1px solid #ccc;margin-top:100px;}
.tb li{width:24%;display:inline-block;text-align:center;height:70px;line-height:120px;font-size:20px;}
section span{border-radius: 50%;border:1px solid #ccc;display:inline-block;width:100px;height:100px;text-align:center;line-height: 100px;font-size: 30px;font-family:lobster;position: absolute;background:#eee;}
section span:nth-child(2){left:122px;top:48px;}
section span:nth-child(3){left:473px;top:48px;}
section span:nth-child(4){left:822px;top:48px;}
section span:nth-child(5){left:1172px;top:48px;}










